body {
  padding: 0px;
  margin: 0px;
  color: #666;
  font: 1.2em/1.4em 'Myriad Pro', Helvetica, Arial, san serif;
  text-align: left;
  margin: 0px;
  background-size: cover;
  background-color:  #ffe6e6

}

.logo {
  width: 100%;
  height: auto;
  float: left;
  font-size: 30px;
  color: #fff;
  padding-bottom: 5px;
  margin: 0
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 30px;
  height: 30px;
}

.navbar {
  height: auto;
  width: 100%;
  padding-bottom: 10px;
    background-color: #80aaff;
}

.navbar a {
  float: right;
  color: #000;
  text-align:right;
  padding:0 15px 15px 0;
  font-size: 18px;
}

.navbar a:hover {
  background-color:  #ff9900;
  color: #000;
  border-radius: 50px 50px;
  text-align: center;
}

#logright {
float: left;
text-align: left;


}

#logleft {
float: right;
text-align: left;


}

.heads {
  border-radius: 15px 50px;
  width: 80%;
  height: 20em;

  margin: 30px;
  text-align: center;
  color: #000;
  padding-top: 10px;

}
.fields {
  width: 100%;
  background-color: #595959;
  margin:10px auto;
  height: 55vw;
  padding: 3px;
  float:left;
  text-align: center;
  color: #fff;
}
.fields li {
  display: block;
}

#upcoming th,td {
text-align:center;
column-rule-color: #ff9900;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border: 3px solid  #4d94ff;
padding: 10px;
vertical-align: bottom;
border-bottom: 1px solid #000;
}

#upcoming th {
  height: 50px;
  font-size: 20px;
  color: #000;
}
#upcoming td {
  height: 100px;
  td:hover {background-color:#f5f5f5;}
}

.fields left-box {
  background-color: #fff;
  float: right;
  margin-left: 80px
}

input[type="text"],
input[type="password"]{
  color: #fff;
  display: inline;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-left: 50%;
  padding: 20px;
  width: 200px;
  height: 15px;
  border: none;
  outline: none;
  background-color:  #000;
  border-bottom: 3px solid #000;
  border-radius: 25px;
  font-family: serif;
  font-weight: 500;
  font-size: 16px;
  transition: 0.25 ease;
  text-align: center;
}

input[type="submit"]{
  margin-bottom: 30px;
  margin-left: 60%;
  margin-top: 10px;
  width: 200px;
  height: 20px;
  padding: 20px;
  background: #9fff80;
  border-bottom: 2px solid #000;
  border-radius: 50px 50px;
  color: #fff;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.25 ease;
  cursor: progress;
  align-items: center;

}
.admin-left {
    border-radius: 15px 50px 30px 5px;

    background-color: rgba(150, 150, 150, 0.5);
    height: 30%;
    width: 50%;
    display: inline-block;
    padding: 10px;



}
.admin-left h4 {
  display: inline;
  color: #000;
  padding-bottom: 10px;
}

.admin-left a {
  color: green;
  padding-top: 20px;
  display: block;
  padding-left: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 50px;

}
.admin-right {
 border-radius: 15px 5px 30px 50px;
 background-color: rgba(150, 150, 150, 0.5);
 padding: 10px;
 width: 46%;
 float: right;
 height: 30%;
  padding-bottom: 10px

}
.admin-right h4{
  display: inline;
  color: #000;
  padding: 5px 2px 10px 5px;
}
.admin-right a {
  color: green;
  padding-top: 20px;
  display: block;
  padding-left: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  box-sizing: border-box;


}


footer {
  text-align: center;
  background-color: #e6e6e6;
  margin: 1px solid #000;
  padding-bottom: 3px;

}
